body, p, h1, h2{
    margin:0;
    /* pirmas: roboto (sriftas), antras sriftas (jei pirmo neuzkrautu) */
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.black-header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 16px;
}

button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.black-header a {
color: #ddd9d9;
margin: 0 12px;
font-weight: 300;
font-size: 13px;
}

.black-header a:hover{
    color:white;
    transition:500ms;
}

.white-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}



.news {


}


.news h2 {
    text-align: center;
    font-weight: 300;
    border-bottom: 2px solid ;
}

.customer-side{
    display: flex;
    align-items: center;
}

.white-header a {
    margin: 0 12px;
}

@media screen and (max-width: 768px) {
    
    .black-header {
        justify-content: center;
           }

    .black-header a {
        font-size: 15px;
    }     

    .black-header .info-side {
        display: none;
    }
    .white-header {
        flex-direction: column;
    }

    .white-header .customer-side {
        margin-bottom: 16px;
    }

    .white-header button {
        padding: 16px 20px;
        font-size: 18px;
    }

    .hero {
        height: 35vh;
    }

    .cards {
        flex-direction: column;
    }

    .card {
      width: 100%;
      margin: 8px 0;  
    }
}